pyspark==4.1.1
jupyter==1.0.0
ipykernel==6.29.5
notebook==7.2.0

# Data manipulation
pandas==2.2.2
numpy==1.26.4

# Optional (úteis para engenharia de dados)
pyarrow==15.0.2
fastparquet==2024.2.0

# Logging / utilities
python-dotenv==1.0.1

# Testing (opcional)
pytest==8.2.0